
@font-face {
    font-family: BT2;
	src: url('../fonts/PenumbraFlareStd-Semibold.otf');    
}

@font-face {
    font-family: SourceSans;
    src: url('../fonts/SourceSansPro-Semibold.otf');
}

.topPageStripe {
    display: flex;
    font-family: BT2;
    width: 100%;
    height: 40px;
    padding: 0;
    color: white;
    font-size: 30px;
    vertical-align: middle;
    text-decoration: none;
    flex-direction: row;
}

.imageContainer {
    width: 75%;
    max-width: 1200px;
    min-width: 600px;
    height: 225px;
    border: solid 10px;
    border-top: none;
    margin: 0 auto;
    right: 0;
    left: 0;
    overflow: hidden;
}

.image {
    -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
    filter: blur(4px);
}

.navBarContainer {
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 4;
}

.navBar {
    width: 75%;
    height: 50px;
    max-width: 1200px;
    min-width: 600px;
    border-bottom: solid 2px;
    margin: 0 auto;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 4;
}

.navBarR2 {
    width: 75%;
    height: 50px;
    max-width: 1200px;
    min-width: 600px;
    border-top: none;
    margin: 0 auto;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 5;
}

.navLinks {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    font-family: BT2;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    width: 25%;
    overflow: hidden;
    font-size: 30px;
}

.subNavLinks {
    font-size: 20px;
    text-align: left;
    margin-left: 3%;
    line-height: 50px;
    z-index: 5;
}

.content {
    position: absolute;
    top: 415px;
    width: 60%;
    max-width: 1040px;
    min-width: 520px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    height: auto;
}

.footer {
    height: 100px;
    font-family: BT2;
    text-align: center;
    font-size: 10px;
    line-height: 100px;
    z-index: 42;
    
}

.content2 {
    position: relative;
    top: 50px;
    width: 60%;
    max-width: 1040px;
    min-width: 520px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 0;
    background-color: red;
    visibility: hidden;
}

.welcome {
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-family: BT2;
    margin-top: 40px;
    border: solid black 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 3.5vm;
}

.welcomeHeader {
    margin-top: 10px;
    font-family: BT2;
}

.normalText {
    font-family: SourceSans;
}

.commentBoxContainer {
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 90%;
    border: dotted black 5px;
    height: 400px;
    text-align: center;
}

.commentBox {
    overflow: hidden;
    width: 100%; 
    height: 100%;
    resize: none; 
    padding: 3% 3%;
    font-family: BT2;
}

.errorMessage {
    font-family: BT2;
    font-size: 12px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.stepTitle {
    font-family: BT2;
    font-size: 3.5vm;
    margin-left: 2.5%;
}

.mixtapeCovers {
    width: 100%;
}

.mixtapeCoverContainer {
    display: inline-block;
    width: 30%;
    /* border: solid red 1px; */
}

.mixtapeCoverContainer2 {
    display: inline-block;
    width: 47.5%;
}

.stepDescription {
    font-family: SourceSans;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;   
}

.stepWithPicture {
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
    width: 60%;
}

.mixtapeEndMsg {
    text-align: center;
    font-family: BT2;
    font-size: 35px;
}

.songBoardHeader {
    color: grey;
    text-align: center;
    /* border: solid red 1px; */
    font-family: SourceSans;
    margin-bottom: 40px;
    margin-top: 20px;
}

.songBoardIntro {
    text-align: center;
    font-family: BT2;
    width: 75%;
    margin: 0 auto;
    right: 0;
    left: 0;
}

